<div class="row" *ngIf="condiciones.form1">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form (submit)="guardarForm1($event)" class="form-horizontal m-t-40">
                    <div class="form-group row p-t-20">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Usuario</label>
                                <dx-text-box class="form-control" [disabled]="true" [(value)]="usuario.nombre">
                                </dx-text-box>
                            </div>
                            <div class="form-group">
                                <label>Fecha</label>
                                <dx-date-box [value]="now" type="date" [disabled]="true" style="width: 100%;"></dx-date-box>
                            </div>
                            <div class="form-group">
                                <label>Transacción</label>
                                <dx-text-box class="form-control" [(value)]="formulario.de_transaccion" [disabled]="true">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Transacción es requerida"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Solicitud</label>
                                <dx-text-box mode="number" class="form-control" [(value)]="formulario.de_valor_solicitud">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Monto de solicitud es requerida"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                            <div class="form-group">
                                <label>Justificación</label>
                                <dx-text-box class="form-control" [(value)]="formulario.de_justificacion">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Justificación es requerida"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                            <div class="form-group">
                                <label>Adjuntar archivo (1)</label>
                                <dx-file-uploader uploadUrl="http://proconty.com/API/demo/upload/upload.php" name="file" (onUploaded)="uploaded($event)" (onUploadError)="uploadError($event)" [multiple]="false" accept="*" [(value)]="imagenes" uploadMode="instantly"></dx-file-uploader>
                            </div>
                        </div>
                        <dx-button icon="remove" style="margin-left: 10px; display: right" type="danger" [disabled]="guardando" text="Cancelar" (click)="cancelar()"></dx-button>
                        <dx-button icon="check" style="margin-left: 10px; display: right" type="success" [useSubmitBehavior]="true" [disabled]="guardando" text="Enviar"></dx-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="condiciones.form2">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form (submit)="guardarForm2($event)" class="form-horizontal m-t-40">
                    <div class="form-group row p-t-20">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Usuario</label>
                                <dx-text-box class="form-control" [(value)]="usuario.nombre" [disabled]="true">
                                </dx-text-box>
                            </div>
                            <div class="form-group">
                                <label>Fecha</label>
                                <dx-date-box [value]="now" type="date" [disabled]="true" style="width: 100%;"></dx-date-box>
                            </div>
                            <div class="form-group">
                                <label>Transacción</label>
                                <dx-text-box class="form-control" [(value)]="formulario.de_transaccion" [disabled]="true">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Transacción es requerida"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Monto</label>
                                <dx-text-box mode="number" class="form-control" [(value)]="formulario.de_valor_solicitud">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Monto de solicitud es requerida"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                            <div class="form-group">
                                <label>Motivo</label>
                                <dx-text-box class="form-control" [(value)]="formulario.de_justificacion">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Justificación es requerida"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                            <div class="form-group">
                                <label>Adjuntar archivo</label>
                                <dx-file-uploader uploadUrl="http://proconty.com/API/demo/upload/upload.php" name="file" (onUploaded)="uploaded($event)" (onUploadError)="uploadError($event)" [multiple]="false" accept="*" [(value)]="imagenes" uploadMode="instantly"></dx-file-uploader>
                            </div>
                        </div>
                        <dx-button icon="remove" style="margin-left: 10px; display: right" type="danger" [disabled]="guardando" text="Cancelar" (click)="cancelar()"></dx-button>
                        <dx-button icon="check" style="margin-left: 10px; display: right" type="success" [useSubmitBehavior]="true" [disabled]="guardando" text="Guardar"></dx-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="condiciones.form3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="file" (change)="handleFile($event)" style="margin-top: 10px;" />
                <label style="margin-left: 70px; display: right; margin-top: 10px; margin-bottom: 10px;">Descargar Formato</label>
                <a style="margin-left: 10px; display: right; margin-top: 10px; margin-bottom: 10px;" class="btn btn-info" href="http://www.proconty.com/API/demo/documentos/solicitudes.xlsx" target="_self" title="Descargar formato" download="solicitudes.xlsx">
                    <i class="mdi mdi-download"></i>
                </a>
                <dx-data-grid [dataSource]="solicitudes" [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true" [columnAutoWidth]="true">

                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]" infoText="Page #{0}. Total: {1} ({2} usuarios)"></dxo-pager>
                    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>

                    <dxi-column dataField="Fecha" caption="Fecha" dataType="date"></dxi-column>
                    <dxi-column dataField="Monto" caption="Monto"></dxi-column>
                    <dxi-column dataField="Motivo" caption="Justificación/Motivo"></dxi-column>
                </dx-data-grid>
                <dx-button icon="remove" style="margin-left: 10px; display: right; margin-top: 10px;" type="danger" text="Cancelar" (click)="salir()"></dx-button>
                <dx-button icon="check" style="margin-left: 10px; display: right; margin-top: 10px;" type="success" [disabled]="guardando" text="Guardar" (click)="guardarForm3()"></dx-button>

            </div>
        </div>
    </div>
</div>