<div class="row" *ngIf="acceso.admin">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <dx-data-grid [dataSource]="usuarios" [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true" [columnAutoWidth]="true">

                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]" infoText="Page #{0}. Total: {1} ({2} usuarios)"></dxo-pager>
                    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true" placeholder="Buscar"></dxo-search-panel>
                    <dxo-group-panel [visible]="true" laceholder="Arrastre una columna para agrupar"></dxo-group-panel>
                    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>

                    <dxi-column dataField="de_nombre_per" caption="Nombre"></dxi-column>
                    <dxi-column dataField="de_apellido_per" caption="Apellido"></dxi-column>
                    <dxi-column dataField="de_celular_per" caption="Celular"></dxi-column>
                    <dxi-column dataField="de_usuario" caption="Usuario"></dxi-column>
                </dx-data-grid>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="acceso.user">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <img style="width: 100%;" src="assets/images/no_acceso.jpeg" alt="No Acceso" />
            </div>
        </div>
    </div>
</div>