<div class="row">
    <div class="col-12">
        <div class="card-group m-b-30">
            <!-- Column -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="m-b-0"><i class="mdi mdi-alert-circle text-inverse"></i></h2>
                            <h3 class="">${{ totales.pendientes }}</h3>
                            <h6 class="card-subtitle">Pendiente Aprobar</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="m-b-0"><i class="mdi mdi-briefcase-check text-success"></i></h2>
                            <h3 class="">${{ totales.aprobados }}</h3>
                            <h6 class="card-subtitle">Aprobados</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="m-b-0"><i class="mdi mdi-calendar-remove text-danger"></i></h2>
                            <h3 class="">${{ totales.rechazados }}</h3>
                            <h6 class="card-subtitle">Rechazados</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="m-b-0"><i class="mdi mdi-cash-usd text-info"></i></h2>
                            <h3 class="">${{ totales.total }}</h3>
                            <h6 class="card-subtitle">Total</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <dx-chart id="chart" title="Formularios Por Estados" [dataSource]="dataSource">
                    <dxi-series argumentField="de_nombre_estado" valueField="formularios" name="Cant de Formularios" type="bar" color="#ffaa66">
                    </dxi-series>
                </dx-chart>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <dx-pie-chart id="pie" title="Valor ($) Por Estados" palette="bright" [dataSource]="areas">
                    <dxo-adaptive-layout [height]="300" [width]="400"></dxo-adaptive-layout>
                    <dxi-series argumentField="de_nombre_estado" valueField="valor">
                        <dxo-label [visible]="true">
                            <dxo-connector [visible]="true" [width]="1"></dxo-connector>
                        </dxo-label>
                    </dxi-series>
                    <dxo-export [enabled]="true"></dxo-export>
                </dx-pie-chart>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <dx-chart id="chart" title="Formularios por Ciudades" [dataSource]="grossProductData">
                    <dxi-series valueField="aprobado" name="Aprobado"></dxi-series>
                    <dxi-series valueField="pendiente" name="Pendiente"></dxi-series>
                    <dxi-series valueField="rechazado" name="Rechazado"></dxi-series>
                    <dxo-common-series-settings argumentField="nombre_intcant" type="bar" hoverMode="allArgumentPoints" selectionMode="allArgumentPoints">
                        <dxo-label [visible]="true" [format]="{
                          type: 'fixedPoint',
                          precision: '0'
                      }">
                        </dxo-label>
                    </dxo-common-series-settings>
                    <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
                    </dxo-legend>
                    <dxo-export [enabled]="true"></dxo-export>
                </dx-chart>
            </div>
        </div>
    </div>
</div>