<div class="row" *ngIf="acceso.admin">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form (submit)="guardar($event)" class="form-horizontal m-t-40">
                    <div class="form-group row p-t-20">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Nombre</label>
                                <dx-text-box [(value)]="usuario.de_nombre_per" class="form-control">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Nombre es requerido"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                            <div class="form-group">
                                <label>Apellido</label>
                                <dx-text-box [(value)]="usuario.de_apellido_per" class="form-control">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Apellido es requerido"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                            <div class="form-group">
                                <label>Celular</label>
                                <dx-text-box [(value)]="usuario.de_celular_per" class="form-control" mask="(000) 000-0000">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Celular es requerido"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                            <div class="form-group">
                                <label>Provincia</label>
                                <dx-select-box [items]="provincias" displayExpr="nombre_intprov" valueExpr="id_intprov" [searchEnabled]="true" (onValueChanged)="cambiaProvincia($event)" placeholder="Seleccione...">
                                    <dxi-validation-rule type="instance" message="Provincia es requerida"></dxi-validation-rule>
                                </dx-select-box>
                            </div>
                            <div class="form-group">
                                <label>Cantón</label>
                                <dx-select-box [items]="cantones" displayExpr="nombre_intcant" valueExpr="id_intcant" [searchEnabled]="true" (onValueChanged)="cambiaCanton($event)" placeholder="Seleccione...">
                                    <dxi-validation-rule type="required" message="Cantón es requerida"></dxi-validation-rule>
                                </dx-select-box>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Correo Electrónico</label>
                                <dx-text-box [(value)]="usuario.de_correo_per" class="form-control">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Correo electrónico es requerido"></dxi-validation-rule>
                                        <dxi-validation-rule type="email" message="Formato inválido"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                            <div class="form-group">
                                <label>Usuario</label>
                                <dx-text-box [(value)]="usuario.de_usuario" class="form-control">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Usuario es requerido"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                            <div class="form-group">
                                <label>Contraseña</label>
                                <dx-text-box mode="password" [(value)]="usuario.de_clave" class="form-control">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Contraseña es requerida"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                            <div class="form-group">
                                <label>Repita su Contraseña</label>
                                <dx-text-box mode="password" [(value)]="usuario.confirme" class="form-control">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Confirmación es requerida"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                            <div class="form-group">
                                <label>Departamento</label>
                                <dx-select-box [items]="departamentos" displayExpr="de_nombre_dpto" valueExpr="de_id_departamento" [searchEnabled]="true" (onValueChanged)="cambiaDepartamento($event)" placeholder="Seleccione...">
                                    <dxi-validation-rule type="required" message="Departamento es requerido es requerida"></dxi-validation-rule>
                                </dx-select-box>
                            </div>
                        </div>
                        <dx-button icon="remove" style="margin-left: 10px; display: right" type="danger" [disabled]="guardando" text="Cancelar" (click)="cancelar()"></dx-button>
                        <dx-button icon="check" style="margin-left: 10px; display: right" type="success" [useSubmitBehavior]="true" [disabled]="guardando" text="Guardar"></dx-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="acceso.user">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <img style="width: 100%;" src="assets/images/no_acceso.jpeg" alt="No Acceso" />
            </div>
        </div>
    </div>
</div>